<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adams.smd.mapper.WeatherInfoMapper">

  <cache />

  <select id="getAllWeatherInfo" resultType="com.adams.smd.domain.WeatherInfo">
    select
      "CITY",
      to_char("DATE", 'yyyy-MM-dd') as date,
      "HIGH_TEMP",
      "LOW_TEMP"
    FROM "WEATHER_INFO"
  </select>

</mapper>